<svg viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
  <style></style>
  <defs>
    <g id="flagged_square">
      <!-- radius = 10% of the height/width -->
      <use xlink:href="#square" x="0" y="0"/>
      <use xlink:href="#flag" x="20" y="15" width="5" height="5" transform="scale(.2, .2)"/>
    </g>
    <g id="flag">
      <polygon points="35.999,55.5 35.999,16.5 40,16.5 40,55.5 35.999,55.5 		"/>
      <polygon fill="#FF0000" points="40,13.875 19.375,27 40,40.125 		"/>
      <rect x="28.571" y="51.625" width="18.857" height="5.5"/>
      <rect x="20.222" y="56.459" width="35.555" height="7.041"/>
    </g>
    <g id="square">
      <!-- radius = 10% of the height/width -->
      <rect fill="#AAAAAA" stroke-width="0.5" x="1" y="1" [attr.width]="squareSize" [attr.height]="squareSize" rx="2" ry="2"/>
    </g>
    <g id="bordered_square">
      <!-- radius = 10% of the height/width -->
      <rect fill="#AAAAAA" stroke-width="0.5" stroke="#4056A1" x="1" y="1" [attr.width]="squareSize" [attr.height]="squareSize" rx="2" ry="2"/>
    </g>
    <g id="flagged_square">
      <!-- radius = 10% of the height/width -->
      <rect fill="#AAAAAA" stroke-width="0.5" stroke="#4056A1" x="1" y="1" [attr.width]="squareSize" [attr.height]="squareSize" rx="2" ry="2"/>
      <use xlink:href="#flag" x="20" y="15" width="5" height="5" transform="scale(.2, .2)"/>
    </g>
    <g id="1square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="6" y="16">1</text>
    </g>
    <g id="2square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="7" y="16">2</text>
    </g>
    <g id="3square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="7" y="16">3</text>
    </g>
    <g id="4square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="7" y="16">4</text>
    </g>
    <g id="5square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="7" y="16">5</text>
    </g>
    <g id="6square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="7" y="16">6</text>
    </g>
    <g id="7square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="7" y="16">7</text>
    </g>
    <g id="8square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <text x="7" y="16">8</text>
    </g>
    <g
      id="explosion"
      transform="translate(-107.4078,-172.05911)">
      <g
        id="g7579"
        transform="matrix(29.329979,0,0,29.329979,-12447.671,-15732.122)">
        <polygon
          style="fill:#ed1c24"
          id="polygon7581"
          points="438.161,557.364 435.167,554.676 431.256,555.618 432.888,551.941 428.063,547 434.786,548.926 438.063,542.25 438.238,549.801 444.313,551.25 438.475,553.354 438.161,557.364 " />
        <polygon
          style="fill:#ed1c24"
          id="polygon7583"
          points="443.313,556.5 436.727,554.135 433.563,560 433.908,553.153 430.899,551.584 433.875,550.098 434.319,546.69 436.675,549.193 439.958,548.655 438.438,551.688 443.313,556.5 " />
      </g>
    </g>
    <g id="explode_square">
      <use xlink:href="#bordered_square" x="0" y="0"/>
      <use xlink:href="#explosion" x="200" y="170" transform="scale(.025,.025)"/>
    </g>
  </defs>

  <g text-anchor="middle">
    <use (mouseup)="click($event, obj.col, obj.row)" *ngFor="let obj of gameObjects"
         [attr.x]="obj.x"
         [attr.y]="obj.y"
         [attr.width]="obj.width"
         [attr.height]="obj.height"
         [attr.transform]="obj.getTransformations()"
         [attr.xlink:href]="'#' + obj.template"
    />
  </g>
</svg>

